.seccion {
  background-color: black;

  button {
    border: none;
    background-color: rgb(117, 212, 122);
    padding: 1rem 3rem;
  }

  h6 {
    font-weight: 900;
    color: rgb(42, 126, 70);
  }

  h2 {
    color: white;
    font-weight: bold;
    font-size: 35px;
  }

  p {
    color: white;
  }
}
